:root {
    --bg-color: #484283;
    --accent-color: #f14f4f;
    --text-color: #444b58;
    --small-text-color: #dbbba9;
    --sec-bg-color: #fff4ee;
    --gray-color: #b2b5bb;
    --h1-font-size: 36;
    --h2-font-size: 30;
    --h3-font-size: 24;
    --paragraph-font-size: 16;
    --price-font-size: 20;
    --button-font-size: 16;
    --menu-font-size: 14;
}
