.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.catalog_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 11px;
  column-gap: 20px;
  margin-bottom: 31px;
  justify-items: center;
}
@media (max-width: 1280px) {
  .catalog_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1024px) {
  .catalog_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
